.container {
  max-width: 1600px;
  height: 100%;
  margin: auto;
  padding: 1rem 2rem;
  border: 1px solid black;
}

.logo {
  width: 100px;
  height: 100px;
}

.active-link {
  color: #e885a3 !important;
  font-weight: 700;
  border-bottom: 2px solid #e885a3;
}

.btn {
  outline: none;
  border: none;
  border-radius: 50px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-container, .showcase .showcase-A .welcome-message .feature-services-container .feature .icon, .services .inner-services .services-title, .services .inner-services .services-features-container .card, .eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info .feature-services-container .feature .icon, .eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container, .eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer, .eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer #video-inner-layer, .eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer #video-inner-layer #video-base-layer, .products .container .inner-products, .products .container .inner-products .carrousel .arrow, .products .container .inner-products .carrousel .left-arrow-container, .products .container .inner-products .carrousel .card-containers .card-product, .products .container .inner-products .carrousel .right-arrow-container, .products .container .inner-products .carrousel #btn-products-container, .gallery .container .inner-gallery #btn-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-spacing {
  padding-top: 4rem;
}

.title-heading {
  font-size: 3.5rem;
  color: #7c3367;
  font-family: "El Messiri", sans-serif;
  text-align: center;
}

.btn-container {
  margin: 4rem 0;
}

.btn-container button {
  padding: 1.2rem 4rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-container a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.showcase {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 0.7fr;
      grid-template-columns: 1.3fr 0.7fr;
  overflow: hidden;
}

.showcase .showcase-A {
  background: #fbecf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .showcase-A .welcome-message {
  width: 100%;
  margin-top: 3rem;
  margin-right: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showcase .showcase-A .welcome-message h1 {
  font-family: "El Messiri", sans-serif;
  color: #7c3367;
  font-size: 4rem;
  line-height: 1.2;
}

.showcase .showcase-A .welcome-message .feature-services-container {
  margin-top: 2rem;
}

.showcase .showcase-A .welcome-message .feature-services-container .feature {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8rem 0;
}

.showcase .showcase-A .welcome-message .feature-services-container .feature .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e885a3;
  margin-right: 1.2rem;
}

.showcase .showcase-A .welcome-message .feature-services-container .feature .icon i {
  font-size: 1rem;
  color: #e885a3;
}

.showcase .showcase-A .welcome-message .feature-services-container .feature h3 {
  font-size: 1rem;
  color: #6f5a69;
  font-weight: 400;
}

.showcase .showcase-A .welcome-message .btn-container-action {
  margin-top: 3rem;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-reservation {
  padding: 1.2em 3.6rem;
  background: #e885a3;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-reservation a {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-reservation i {
  color: white;
  margin-right: 5px;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-reservation:hover {
  background: #e2668b;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-servicios {
  padding: 1.2rem 3rem;
  background: transparent;
  border: 1px solid #e885a3;
  margin-left: 1rem;
  -webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
  transition: background 0.2s ease-out, color 0.2s ease-out;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-servicios a {
  color: #7c3367;
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-servicios:hover {
  background: #e885a3;
}

.showcase .showcase-A .welcome-message .btn-container-action .btn-servicios:hover a {
  color: white;
}

.showcase .showcase-B {
  background: #7c3367;
  position: relative;
}

.showcase .showcase-B .image-profile-container {
  position: absolute;
  top: 100px;
  right: 350px;
  z-index: 3;
}

.showcase .showcase-B .image-profile-container img {
  width: 700px;
}

.showcase .showcase-B button {
  position: absolute;
  top: 3rem;
  left: 100px;
  padding: 1rem 2.5rem;
  color: white;
  background: #e885a3;
  border: 1px solid transparent;
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 5;
  -webkit-transition: background 0.2s ease-out, border-color 0.2s ease-out;
  transition: background 0.2s ease-out, border-color 0.2s ease-out;
}

.showcase .showcase-B button i {
  color: white;
  margin-right: 2px;
}

.showcase .showcase-B button:hover {
  cursor: pointer;
  background: transparent;
  border: 1px solid white;
}

.about-us {
  background: #8f4e7c;
  height: 700px;
}

.about-us .inner-about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1fr;
      grid-template-columns: 0.5fr 1fr;
  margin-top: 6rem;
}

.about-us .inner-about-us .image-profile img {
  width: 600px;
}

.about-us .inner-about-us .about-us-info {
  padding: 0 3rem;
}

.about-us .inner-about-us .about-us-info * {
  margin: 15px 0;
}

.about-us .inner-about-us .about-us-info h1 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "El Messiri", sans-serif;
}

.about-us .inner-about-us .about-us-info p {
  color: white;
  font-size: 1rem;
  line-height: 1.8;
  width: 80%;
}

.about-us .inner-about-us .about-us-info button {
  padding: 1rem 3.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  background: #e885a3;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  text-transform: uppercase;
}

.about-us .inner-about-us .about-us-info button a {
  color: white;
}

.about-us .inner-about-us .about-us-info button:hover {
  background: #e2668b;
}

.services .inner-services {
  margin: auto;
}

.services .inner-services .services-title img {
  width: 120px;
  height: 120px;
}

.services .inner-services .services-title h3 {
  font-size: 1.2rem;
  color: #e885a3;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
}

.services .inner-services .services-features-container {
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.services .inner-services .services-features-container .card {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  border: 1px solid #7c3367;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.services .inner-services .services-features-container .card * {
  margin: 5px 0;
}

.services .inner-services .services-features-container .card .icon-container img {
  width: 60px;
  height: 60px;
}

.services .inner-services .services-features-container .card h2 {
  color: #7c3367;
}

.services .inner-services .services-features-container .card p {
  color: #8f4e7c;
  text-align: center;
  padding: 0 1rem;
  line-height: 1.6;
}

.services .inner-services .services-features-container .card a {
  color: #7c3367;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.services .inner-services .services-features-container .card:hover {
  border: 1px solid #e885a3;
  -webkit-box-shadow: 4px 4px 20px -4px rgba(232, 133, 163, 0.61);
          box-shadow: 4px 4px 20px -4px rgba(232, 133, 163, 0.61);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.services .inner-services #services-btn-container {
  margin: 5rem auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .inner-services #services-btn-container button {
  padding: 1.2rem 3rem;
  background: transparent;
  border: 1px solid #e885a3;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.services .inner-services #services-btn-container button a {
  color: #7c3367;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}

.services .inner-services #services-btn-container button:hover {
  background: #e2668b;
}

.services .inner-services #services-btn-container button:hover a {
  color: white;
}

.eye-lashes-studio .container {
  padding: 0;
}

.eye-lashes-studio .inner-eye-lashes-studio {
  position: relative;
  width: 100%;
  height: 750px;
  background-image: url("../assets/pexels-andrea-piacquadio-3757657.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  max-width: 85%;
  position: absolute;
  -webkit-transform: translate(15%, 50px);
          transform: translate(15%, 50px);
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info * {
  margin: 5px 0;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info h1 {
  color: white;
  font-size: 4rem;
  letter-spacing: 2px;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info p {
  color: white;
  line-height: 1.8;
  width: 95%;
  font-size: 1.1rem;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info .feature-services-container .feature {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info .feature-services-container .feature .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e885a3;
  margin-right: 1.2rem;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info .feature-services-container .feature .icon i {
  font-size: 1rem;
  color: #e885a3;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info .feature-services-container h3 {
  color: white;
  font-size: 1rem;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info #reservacion-btn-container button {
  padding: 1rem 7rem;
  margin-top: 1rem;
  background: #e885a3;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info #reservacion-btn-container button a {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info #reservacion-btn-container button i {
  color: white;
  margin-right: 5px;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .lashes-info #reservacion-btn-container button:hover {
  background: #e2668b;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer #video-inner-layer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer #video-inner-layer #video-base-layer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.eye-lashes-studio .inner-eye-lashes-studio .container-lashes .video-container #video-outter-layer #video-inner-layer #video-base-layer i {
  color: #e885a3;
  font-size: 2rem;
}

.products {
  background: url("../assets/493516-PH5PBU-923.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 4rem;
}

.products .overlay {
  background: rgba(229, 189, 159, 0.2);
}

.products .container {
  padding: 0;
}

.products .container .inner-products {
  position: relative;
}

.products .container .inner-products p {
  font-size: 1.1rem;
  color: #7c3367;
  font-weight: 400;
  width: 40%;
  text-align: center;
  line-height: 1.8;
}

.products .container .inner-products .carrousel {
  width: 100%;
  height: 600px;
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
}

.products .container .inner-products .carrousel .arrow {
  background: rgba(255, 255, 255, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  z-index: 2;
}

.products .container .inner-products .carrousel .arrow:hover {
  background: white;
}

.products .container .inner-products .carrousel .arrow i {
  font-size: 1.5rem;
  color: #e885a3;
}

.products .container .inner-products .carrousel .left-arrow-container {
  position: absolute;
  left: 5px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.products .container .inner-products .carrousel .card-containers {
  height: 450px;
  width: 90%;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.products .container .inner-products .carrousel .card-containers .card-product {
  position: absolute;
  width: 270px;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem 0;
  border-radius: 5px;
}

.products .container .inner-products .carrousel .card-containers .card-product * {
  margin: 5px 0;
}

.products .container .inner-products .carrousel .card-containers .card-product img {
  width: 150px;
}

.products .container .inner-products .carrousel .card-containers .card-product h2 {
  color: #e885a3;
  font-size: 1.7rem;
}

.products .container .inner-products .carrousel .card-containers .card-product p {
  font-size: 1rem;
  color: #7c3367;
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}

.products .container .inner-products .carrousel .card-containers .card-product span {
  color: #e885a3;
  font-size: 1.6rem;
  font-family: "El Messiri", sans-serif;
}

.products .container .inner-products .carrousel .right-arrow-container {
  position: absolute;
  top: 0;
  right: 5px;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.products .container .inner-products .carrousel #btn-products-container {
  margin: 4rem 0;
}

.products .container .inner-products .carrousel #btn-products-container button {
  padding: 1.2rem 3rem;
  background: #7c3367;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.products .container .inner-products .carrousel #btn-products-container button:hover {
  background: #8f4e7c;
}

.products .container .inner-products .carrousel #btn-products-container a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.gallery .container .inner-gallery {
  margin-top: 4rem;
}

.gallery .container .inner-gallery .tab-component .tab-navigation {
  margin-top: 1rem;
}

.gallery .container .inner-gallery .tab-component .tab-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .container .inner-gallery .tab-component .tab-navigation ul li {
  margin: 0 4rem;
  padding: 2rem 0 1rem 0;
  font-size: 0.9rem;
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-weight: 500;
}

.gallery .container .inner-gallery .tab-component .tab-navigation ul li:hover {
  color: #e885a3;
}

.gallery .container .inner-gallery .tab-component .tab-navigation ul .active-tab {
  border-bottom: 2px solid #e885a3;
  color: #e885a3;
}

.gallery .container .inner-gallery .tab-component .tab-body {
  margin-top: 3rem;
  padding: 0 1rem;
}

.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:hover {
  cursor: pointer;
}

.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:nth-child(2),
.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:nth-child(2) img,
.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:nth-child(4),
.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:nth-child(4) img,
.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:nth-child(6),
.gallery .container .inner-gallery .tab-component .tab-body .inner-gallery-nails div:nth-child(6) img {
  height: 550px;
}

.gallery .container .inner-gallery #btn-gallery-container {
  margin: 4rem 0;
}

.gallery .container .inner-gallery #btn-gallery-container button {
  padding: 1.2rem 4rem;
  background: #7c3367;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.gallery .container .inner-gallery #btn-gallery-container button:hover {
  background: #8f4e7c;
}

.gallery .container .inner-gallery #btn-gallery-container a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.team {
  height: 100vh;
  background: #fdf2f5;
}

.team .inner-team p {
  color: #7c3367;
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;
}

.team .inner-team .specialist-container {
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.team .inner-team .specialist-container .team-card {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.team .inner-team .specialist-container .team-card .img-card-container {
  width: 95%;
}

.team .inner-team .specialist-container .team-card .img-card-container img {
  border-radius: 5px;
}

.team .inner-team .specialist-container .team-card .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.team .inner-team .specialist-container .team-card .body h1 {
  color: #7c3367;
  font-size: 1.5rem;
  font-weight: 700;
}

.team .inner-team .specialist-container .team-card .body h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #8b7885;
}

.team .inner-team .btn-container button {
  background: #e885a3;
}

.team .inner-team .btn-container button:hover {
  background: #e2668b;
}

.testimonials {
  height: 700px;
}

.testimonials .inner-testimonials .horizontal-carrousel {
  margin-top: 4rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card {
  width: 380px;
  background: #7c3367;
  border-radius: 10px;
  padding: 3rem 2rem;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .head-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .head-card .head-card-img-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  margin-right: 20px;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .head-card .head-card-img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .head-card .head-card-user h3 {
  font-size: 1.1rem;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .head-card .head-card-user h3:nth-child(1) {
  color: white;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .head-card .head-card-user h3:nth-child(2) {
  color: #e2668b;
}

.testimonials .inner-testimonials .horizontal-carrousel .testimonial-card .card-body p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
  line-height: 1.8;
}

.testimonials .inner-testimonials .horizontal-carrousel .carrousel-buttons {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.testimonials .inner-testimonials .horizontal-carrousel .carrousel-buttons .carrousel-controller {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #7c3367;
  margin: 5px 10px;
}

.testimonials .inner-testimonials .horizontal-carrousel .carrousel-buttons .carrousel-controller:hover {
  cursor: pointer;
}

.contact {
  height: 700px;
}

.contact .inner-contact .grid-contact-info-container {
  border: 1px solid red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contact .inner-contact .grid-contact-info-container .info {
  border: 1px solid yellow;
}

.contact .inner-contact .grid-contact-info-container .map {
  border: 1px solid blue;
}
/*# sourceMappingURL=index.css.map */