@import "variables";
@import "utility";

.showcase {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.3fr 0.7fr;
	overflow: hidden;

	.showcase-A {
		background: $main-bg;
		display: flex;
		flex-direction: column;
		align-items: center;
		//border:1px solid green;


		.welcome-message {
			width:100%;
			//border:1px solid red;
			margin-top: 3rem;
			margin-right: 7rem;
			display: flex;
			flex-direction: column;
			

			h1 {
				font-family: $secondary-font;
				color: $secondary-bg;
				font-size: 4rem;
				line-height: 1.2;
			}

			.feature-services-container {
				//border:1px solid red;
				margin-top: 2rem;
				.feature {
					width: 140px;
					display: flex;
					align-items: center;
					margin: 0.8rem 0;

					.icon {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						border: 1px solid $active-link-color;
						@extend %flex-properties;
						margin-right: 1.2rem;
						i {
							font-size: 1rem;
							color: $active-link-color;
						}
					}
					h3 {
						font-size: 1rem;
						color: #6f5a69;
						font-weight: 400;
					}
				}
			}

			.btn-container-action {
				margin-top: 3rem;

				.btn-reservation {
					padding: 1.2rem 3.6rem;
					background: $active-link-color;
					transition: background 0.2s ease-out;
					a {
						color: white;
						font-weight: 700;
						text-transform: uppercase;
						font-size: 0.7rem;
						letter-spacing: 1px;
					}
					i {
						color: white;
						margin-right: 5px;
					}
					&:hover {
						background: $action-btn-bg;
					}
				}
				.btn-servicios {
					padding: 1.2rem 3rem;
					background: transparent;
					border: 1px solid $active-link-color;
					margin-left: 1rem;
					transition: background 0.2s ease-out, color 0.2s ease-out;

					a {
						color: $secondary-bg;
						font-size: 0.7rem;
						letter-spacing: 1px;
						font-weight: 700;
						text-transform: uppercase;
					}
					&:hover {
						background: $active-link-color;
						a {
							color: white;
						}
					}
				}
			}
		}
	}

	.showcase-B {
		background: $secondary-bg;
		position: relative;

		.image-profile-container {
			//border:1px solid red;
			position: absolute;
			top: 100px;
			right:350px;
			z-index: 3;

			img {
				width: 700px;
			}
		}
		button {
			position: absolute;
			top: 3rem;
			left: 100px;
			padding: 1rem 2.5rem;
			color: white;
			background: $active-link-color;
			border:1px solid transparent;
			font-size: 0.7rem;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			z-index: 5;
			transition: background 0.2s ease-out, border-color 0.2s ease-out;

			i {
				color: white;
				margin-right: 2px;
			}
			&:hover {
				cursor: pointer;
				background: transparent;
				border: 1px solid white;
			}
		}
	}
}

.about-us {
	background: $primary-links-color;
	height: 700px;

	.inner-about-us {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		//border:1px solid red;
		margin-top: 6rem;

		.image-profile {
			//border:1px solid green;

			//@extend %flex-properties;
			img {
				width: 600px;
			}
		}
		.about-us-info {
			
		   padding:0 3rem;
			* {
				margin: 15px 0;
			}
			h1 {
				color: white;
				font-size: 2.5rem;
				text-transform: uppercase;
				font-family: $secondary-font;
			}

			p {
				//color: #dfddde;
				color:white;
				font-size: 1rem;
				line-height: 1.8;
				width:80%;
				
			}
			button {
				padding: 1rem 3.5rem;
				font-size: 0.9rem;
				font-weight: 700;
				background: $active-link-color;
				transition: background 0.2s ease-out;
				text-transform: uppercase;
				

				a {
					color: white;
				}
				&:hover {
					background: $action-btn-bg;
				}
			}
		}
	}
}

.services {
	.inner-services {
		margin: auto;
		.services-title {
			//border:1px solid red;
			@extend %flex-properties;

			img {
				width: 120px;
				height: 120px;
			}

			h3 {
				font-size: 1.2rem;
				color: $active-link-color;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin-top: 5px;
			}
			
		}
		.services-features-container {
			//border:1px solid green;
			height: 400px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			align-items: center;
			justify-content: center;
			margin-top: 2rem;

			.card {
				width: 300px;
				height: 350px;
				@extend %flex-properties;
				border-radius: 5px;
				border: 1px solid $secondary-bg;
				transition: all 0.2s ease-out;

				cursor: pointer;
				* {
					margin: 5px 0;
				}

				.icon-container {
					img {
						width: 60px;
						height: 60px;
					}
				}
				h2 {
					color: $secondary-bg;
				}
				p {
					color: $primary-links-color;
					text-align: center;
					padding: 0 1rem;
					line-height: 1.6;
				}
				a {
					color: $secondary-bg;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 0.8rem;
				}

				&:hover {
					border: 1px solid $active-link-color;
					box-shadow: 4px 4px 20px -4px rgba(232, 133, 163, 0.61);
					transform: scale(1.01);
				}
			}
		}
		#services-btn-container {
			// border:1px solid yellow;
			margin: 5rem auto;
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				padding: 1.2rem 3rem;
				background: transparent;
				border: 1px solid $active-link-color;
				transition: all 0.2s ease-out;

				a {
					color: $secondary-bg;
					text-transform: uppercase;
					font-size: 0.8rem;
					font-weight: 700;
				}
				&:hover {
					background: $action-btn-bg;
					a {
						color: white;
					}
				}
			}
		}
	}
}
.eye-lashes-studio {
	.inner-eye-lashes-studio {
		position: relative;
		height: 650px;
		background-image: url("../assets/pexels-andrea-piacquadio-3757657.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: auto;

		.container-lashes {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			max-width: 85%;
			//border:2px solid green;
			position: absolute;
			transform: translate(15%, 50px);

			.lashes-info {
				//border:1px solid red;
				display: flex;
				flex-direction: column;

				* {
					margin: 5px 0;
				}
				h1 {
					color: white;
					font-size: 4rem;
					letter-spacing: 2px;
				}
				p {
					color: white;
					line-height: 1.8;
					width: 95%;
					font-size: 1.1rem;
				}
				.feature-services-container {
					.feature {
						width: 140px;
						display: flex;
						align-items: center;
						margin: 5px 0;

						.icon {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							border: 1px solid $active-link-color;
							@extend %flex-properties;
							margin-right: 1.2rem;
							i {
								font-size: 1rem;
								color: $active-link-color;
							}
						}
					}
					h3 {
						color: white;
						font-size: 1rem;
					}
				}

				#reservacion-btn-container {
					button {
						padding: 1rem 7rem;
						margin-top: 1rem;
						background: $active-link-color;
						transition: background 0.2s ease-out;
						a {
							color: white;
							font-weight: 700;
							text-transform: uppercase;
							font-size: 0.7rem;
							letter-spacing: 1px;
						}
						i {
							color: white;
							margin-right: 5px;
						}
						&:hover {
							background: $action-btn-bg;
						}
					}
				}
			}

			.video-container {
				//border:1px solid black;
				@extend %flex-properties;

				#video-outter-layer {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					background: rgba(255, 255, 255, 0.6);
					@extend %flex-properties;

					#video-inner-layer {
						width: 150px;
						height: 150px;
						border-radius: 50%;
						background: rgba(255, 255, 255, 0.8);
						@extend %flex-properties;
						#video-base-layer {
							width: 100px;
							height: 100px;
							border-radius: 50%;
							background: white;
							@extend %flex-properties;
							cursor: pointer;

							i {
								color: $active-link-color;
								font-size: 2rem;
							}
						}
					}
				}
			}
		}
	}
}

.products {
	background: url("../assets/493516-PH5PBU-923.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	.overlay {
		background: rgba(229, 189, 159, 0.2);
	}
	.container {
		.inner-products {
			position: relative;
			@extend %flex-properties;
			margin-top: 4rem;

			h1 {
				font-size: 3.5rem;
				color: $secondary-bg;
			}
			p {
				font-size: 1.1rem;
				color: $secondary-bg;
				font-weight: 400;
				width: 40%;
				text-align: center;
				line-height: 1.8;
			}

			.carrousel {
				//border:1px solid blue;
				width: 100%;
				height: 600px;
				margin-top: 3rem;
				overflow: hidden;
				position: relative;

				.arrow {
					background: rgba(255, 255, 255, 0.8);
					width: 50px;
					height: 50px;
					border-radius: 2px;
					@extend %flex-properties;
					cursor: pointer;
					transition: background 0.2s ease-out;
					z-index: 2;

					&:hover {
						background: white;
					}

					i {
						font-size: 1.5rem;
						color: $active-link-color;
					}
				}
				.left-arrow-container {
					//border:1px solid white;
					position: absolute;
					transform: translateY(200px);
					@extend %flex-properties;
				}
				.card-containers {
					//border:1px solid black;
					height: 450px;
					width: 90%;
					position: relative;
					overflow: hidden;
					margin: auto;

					.card-product {
						position: absolute;
						width: 270px;
						margin: 1rem;
						//height:350px;
						@extend %flex-properties;
						background: rgba(255, 255, 255, 0.8);
						padding: 2rem 0;
						border-radius: 5px;

						* {
							margin: 5px 0;
						}

						img {
							width: 150px;
						}
						h2 {
							color: $active-link-color;
							font-size: 1.7rem;
						}
						p {
							font-size: 1rem;
							color: $secondary-bg;
							text-align: center;
							width: 100%;
							padding: 0 1rem;
						}
						span {
							color: $active-link-color;
							font-size: 1.6rem;
							font-family: $secondary-font;
						}
					}
				}
				.right-arrow-container {
					position: absolute;
					top: 0;
					right: 1px;
					transform: translateY(200px);
					@extend %flex-properties;
					//border:1px solid yellow;
				}

				#btn-products-container {
					margin-top: 3rem;
					@extend %flex-properties;

					button {
						padding: 1.2rem 3rem;
						background: $secondary-bg;

						transition: all 0.2s ease-out;

						&:hover {
							background: $primary-links-color;
						}
					}

					a {
						color: white;
						text-transform: uppercase;
						font-size: 0.8rem;
						font-weight: 700;
						letter-spacing: 1px;
					}
				}
			}
		}
	}
}

.gallery {
	//border: 1px solid red;
	//height:100vh;

	.container {
		//border: 1px solid black;

		.inner-gallery {
			margin-top: $top-spacing;

			.tab-component {
				border-radius: 3px;
				//box-shadow: 3px 4px 10px 0px rgba(124, 51, 103, 0.3);
				background: white;

				.tab-navigation {
					ul {
						display: flex;
						align-items: center;
						justify-content: space-around;

						li {
							padding: 2rem 0 1rem 0;
							font-size: 1.1rem;
							color: $secondary-bg;
							cursor: pointer;
						}
						.active-tab {
							border-bottom: 2px solid $secondary-bg;
						}
					}
				}

				.tab-body {
					margin-top: 3rem;
					padding: 0 1rem;

					.inner-gallery-nails {
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						grid-gap: 20px;

						img {
							width: 100%;
							object-fit: cover;
							object-position: center;
							border-radius: 5px;
						}
					}
				}
			}
			#btn-gallery-container {
				margin-top: 3rem;
				@extend %flex-properties;

				button {
					padding: 1.2rem 4rem;
					background: $secondary-bg;

					transition: all 0.2s ease-out;

					&:hover {
						background: $primary-links-color;
					}
				}
				a {
					color: white;
					text-transform: uppercase;
					font-size: 0.8rem;
					font-weight: 700;
					letter-spacing: 1px;
				}
			}
		}
	}
}
