@import "variables";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: $primary-font;
    font-weight: 300;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family:$secondary-font;
    //font-weight: 700;
}

img{
    width:100%;
}

ul{
    list-style-type: none; 
}
 
a{ 
    text-decoration: none; 
}

.main-header{
    
    display:flex;
    align-items: center;
    padding:1rem 1.5rem;
   
    
    .main-nav{
      
        margin-left:2rem;
        width: 100%;
        z-index: 5;
        //border:1px solid red;
        ul{
            display: flex;
            justify-content: space-around;
            //border:1px solid green;
            
          a{
            color:$primary-links-color;
            font-weight: 600;
            text-transform: uppercase;
            font-size: $link-font-size;
           
          }
          a:hover{
              color:$active-link-color;

          }
        }
    }

}

