@import "variables";

.container {
	max-width: 1400px;
	height: 100%;
	margin: auto;
	padding: 1rem;
	margin-top: 1rem;
	//border:1px solid black;
}

.logo {
	width: 120px;
	height: 120px;

	//border:1px solid red;
}

.active-link {
	color: $active-link-color !important;
	font-weight: 700;
	border-bottom: 2px solid $active-link-color;
}

.btn {
	outline: none;
	border: none;
	border-radius: 50px;
	font-family: $primary-font;
	font-weight: 400;
	cursor: pointer;
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
%flex-properties {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title-heading {
	font-size: 3rem;
	color: $secondary-bg;
	font-family: $secondary-font;
	text-align: center;
}
