@import "variables";

.container{
    max-width:95%;
    height: 100%;
    margin:auto;
    padding:1rem;
    margin-top:1rem;
    //border:1px solid black; 

}

.logo{
    width:120px;
    height:120px;
  
    //border:1px solid red; 
}

.active-link
{
    color:$active-link-color!important; 
    font-weight: 700;
    border-bottom: 2px solid $active-link-color ;
    
}

.btn{
    outline: none;
    border:none; 
    border-radius:50px;
    font-family: $primary-font;
    font-weight: 400;
    cursor: pointer;
}