

$main-bg:#fbecf1; 
$secondary-bg:#7c3367;
$primary-links-color:#8f4e7c;
$active-link-color:#e885a3;
$border-link:#5B254B;
$action-btn-bg:#e2668b;
$light-pink:#fdf2f5;
$primary-font:'Inter', sans-serif;
$secondary-font:'El Messiri', sans-serif; 
$link-font-size:12px;
$font-size-heading:4rem;
$paragraph-font-size:1rem;
$top-spacing:6rem;  
   